p {
  margin-left: 200px;
  margin-right: 200px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.5em;
  word-spacing: 3px;
}
h2 {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2em;
  letter-spacing: 1.5px;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: rgb(138, 138, 138);
}
#tablazat {
  width: 80%;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 200px;
}
th,
td {
  border: 1px solid white;
  width: 2%;
  max-width: 20px;
}
